PORT=8000
MONGODB_URI=mongodb+srv://mohdshayan251_db_user:huaweiy9@cluster0.66j0qjk.mongodb.net/?appName=Cluster0
CORS_ORIGIN=*

CLOUDINARY_CLOUD_NAME="b1gzifpv"
CLOUDINARY_API_SECRET="KE116h7wOwvZwCMlf9slMrpAdOQ"
CLOUDINARY_API_KEY="251321261512191"

ACCESS_TOKEN_SECRET=7b3f2d9a8e1c5f6a4b8d0e9f3c7a1d5e6f9b2c8a4d7e1f5b9c3a6d8e0f2b7c1
REFRESH_TOKEN_SECRET=3f9c7a1e5d8b2c6f0a4e9d7c1b5f8a2d6e0c9b7f3a1d5e8c4b6f9a2d7e1c5b8f0d3a6e9c1b4f7a2d5e8c0b3f6a9d1
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_EXPIRY=30d